body {
	font-family: Garamond, ‘Book Antiqua’, Palatino, serif;
	font-size: 16px;
	background-color: #eaece5;

}


body p {
	color: #3b3a30;
}


img { 
	border-radius: 40px; 
	width: 20vw;
	
}


.col-lg-12 {
	top: -25px;
}


h1 {
	
	font-size:48px;
}



h2 {
	font-family: 'Franklin Gothic', sans-serif;
	font-size:24px;
}


p1 {
	font-family: Georgia, serif;
	font-size:16px;
	position: absolute;
	top: 88%;
	left: 26%;
	color: #3b3a30;
}


a {
	color: #3b3a30;
}

a:hover {
	color: #333333;
}


/* Navigation Bar styling */
.navbar-inverse .navbar-brand {
	color: #b2c2bf;
	font-size: 16px;
	float: center;
}

.navbar-inverse {
	background-color: #3b3a30;
	border-color: #666666;
	-moz-box-shadow: 2px 2px 7px #000;
	-webkit-box-shadow: 2px 2px 7px #000;
}

.navbar-inverse .navbar-nav>li>a {
	color: #b2c2bf;
	font-size: 20px;
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: #999999;
}

